* {
  box-sizing: border-box;
}

p {
  line-height: 30px;
}

body {
  font-family: myFirstFont;
   padding: 0;
   margin: 0;
   text-align: center;
   display: inline-block;
   width: 100%;
}

hr {
  height: 2px;
  background: #79C7C7;
  border: none;
}

.title-container{
  padding-left: 20px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.title {
  text-align: left;
  color: #79C7C7;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
}

.container{
  text-align: left;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  display: inline-block;
}

.hebe-info{
  max-width: 450px;
  padding-left: 20px;
}

.profile-section * {
    display: inline-block;
    vertical-align: text-top;
    display: inline-block;
}

.profile-pic {
    background-image: url('hebe.jpg');
    background-position: center;
    background-size: cover;
    max-width: 300px;
    max-height: 300px;
    width:  100%;
    height: 100%;
    border-radius: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url('font.woff2');
}
