* {
  box-sizing: border-box;
}

p, a, td {
  line-height: 1.9;
}

.dropdown .subject {
  margin: 0px;
  background-image: url('dropdown.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 40px;
}

.dropdown .topics {
  display: none;
}

.dropdown .topics.visible {
  display: block;
}

body {
  font-family: myFirstFont;
   padding: 0;
   margin: 0;
   text-align: center;
   display: inline-block;
   width: 100%;
}

hr {
  height: 2px;
  background: #79C7C7;
  border: none;
}

.title-container{
  padding-left: 20px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.title {
  text-align: left;
  color: #79C7C7;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
}

.container{
  text-align: left;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  display: inline-block;
}

.profile-section * {
    display: inline-block;
    vertical-align: text-top;
    display: inline-block;
}

.profile-pic {
    background-image: url('hebe.jpg');
    background-position: center;
    background-size: cover;
    max-width: 300px;
    max-height: 300px;
    width:  100%;
    height: 100%;
    border-radius: 100%;
}

.hebe-info{
  max-width: calc(100% - 310px);
  padding-left: 20px;
}

.sig{
  font-size: 30px;
}

.revision-notes{
  width: 49%;
  display: inline-block;
  vertical-align: text-top;
}

.donate-form{
  width: 49%;
  display: inline-block;
  vertical-align: text-top;
}

form {
  padding-top: 14px;
}

.donate-form input.pay-image {
  padding-top: 5px;
  max-width: 200px;
}

@media (max-width: 650px) {
  .profile-section{
    text-align: center;
  }

  .hebe-info{
    max-width: 100%;
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .revision-notes, .donate-form{
    width: 100%;
  }
}

@font-face {
    font-family: myFirstFont;
    src: url('font.woff2');
}

@font-face {
    font-family: sig;
    src: url('MrDafoe-Regular.ttf');
}
